<div ng-controller="postDetailController as vm" ng-init="vm.init()">
    <div><h2 style="text-align: center">{{vm.post.tenbaipost}}</h2></div>
    <div class="row" style="padding: 20px 0; border-bottom: 1px solid #d6d6d6;">
        <div class="col-sm-6">
            Đăng bởi: <span><a href="/user?id={{vm.post.idnguoidang}}">{{vm.post.tennguoidang}}</a></span>
        </div>
        <div class=" col-sm-6" style="text-align: right">Đăng ngày: {{vm.post.ngaydang}}</div>
    </div>

    <div style="padding: 20px 0;"><b>{{vm.post.tomtat}}</b></div>
    <div id="noidung"></div>
</div>