<% layout('page') -%>
<!--//CKEditor-->
<!--<script src="/assets/library/bower_components/angular-ckeditor/angular-ckeditor.min.js"></script>-->
<!--//CKEditor-->

<script src="/client/post/post.module.js"></script>
<script src="/client/post/post.service.js"></script>
<script src="/client/post/post.controller.js"></script>

<div ng-module="postModule">
    <ng-include src="'/client/post/addPost/views/addPost.html'"> </ng-include>
</div>