<% layout('page') -%>
<script src="/client/post/post.module.js"></script>
<script src="/client/post/post.service.js"></script>
<script src="/client/post/detail/post.detail.controller.js"></script>

<div ng-module="postModule">

    <ui-view></ui-view>
</div>