<div ng-controller="userLoginController as vm" ng-init="vm.init()">
  <div style="width: 400px; margin: auto">
    <form>
      <h1 style="text-align: center">Login</h1>
      <div class="form-group">
        <label for="user-name">Tên đăng nhập</label>
        <input placeholder="Username" class="form-control" type="text" required="" ng-model="vm.username" id="user-name">
      </div>
      <div class="form-group">
        <label for="password">Mật khẩu</label>
        <input placeholder="Password" class="form-control" type="password" required="" ng-model="vm.password" id="password">
      </div>
      <div style="text-align: center">
        <button ng-click="vm.login()" class="btn btn-success">Đăng nhập</button>
      </div>
      <div style="color: red">{{vm.result.massage}}</div>
    </form>
  </div>

</div>
