 <div ng-controller="postController as vm" ng-init="vm.init()">
     <form>
         <input class="form-group form-control" style="font-size: 30px;height: 60px; margin-bottom: 30px;" ng-model="vm.post.tenbaipost" type="text" placeholder="Tên bài viết">
         <div class="col-md-4" style="border: 1px solid #999;border-radius: 5px;">
             <div style="color: #999; padding-bottom: 15px; font-size: 20px;">
                 <!--//decription-->
                 Thông tin chung
             </div>
             <div class="form-group">
                 <label for="nuoc">Tên nước</label>
                 <input class="form-control" type="text" ng-model="vm.post.nuoc" id="nuoc" name="nuoc" placeholder="">
             </div>
             <div class="form-group">
                 <label for="tentruong">Tên Trường</label>
                 <input class="form-control" type="text" ng-model="vm.post.tentruong" id="tentruong" name="tentruong" placeholder="">
             </div>
             <div class="form-group">
                 <label for="chiphi">Chi phí</label>
                 <input class="form-control" type="text" ng-model="vm.post.chiphi" id="chiphi" name="chiphi" placeholder="">
             </div>
             <div class="form-group">
                 <label for="hocbong">Học bổng</label>
                 <select class="form-control" id="hocbong" ng-model="vm.post.hocbong" name="Học bổng">
                     <option value="tutuc">Tự túc</option>
                     <option value="motphan">Một phần</option>
                     <option value="toanphan">Toàn Phần</option>
                 </select>
             </div>
             <div class="form-group">
                 <label for="nganh">Ngành học</label>
                 <input class="form-control" type="text" ng-model="vm.post.nganh" id="nganh" name="nganh" placeholder="">
             </div>
             <div class="form-group">
                 <label for="cap">Cấp học</label>
                 <select class="form-control" id="cap" ng-model="vm.post.cap" name="cap">
                     <option value="tutuc">Tự túc</option>
                     <option value="motphan">Một phần</option>
                     <option value="toanphan">Toàn Phần</option>
                 </select>
             </div>
             <div class="form-group">
                 <label for="thoigiankhoahoc">Thời gian khóa học(tháng)</label>
                 <input class="form-control" type="number" ng-model="vm.post.thoigiankhoahoc" id="thoigiankhoahoc" name="thoigiankhoahoc" placeholder="">
             </div>
             <!--<div class="form-group">-->
                 <!--<label for="handangki">Ngày hết hạn đăng ký</label>-->
                 <!--<input class="form-control" type="date" ng-model="vm.post.handangki" id="handangki" name="handangki" placeholder="">-->
             <!--</div>-->
         </div>
         <div class="col-md-8" style="border: 1px solid #999;border-radius: 5px;">
             <div style="color: #999; padding-bottom: 15px; font-size: 20px;">
             <!--//decription-->
                 Bài viết
             </div>
             <div class="form-group">
                 <label for="tomtat">Tóm tắt bài viết</label>
                 <textarea  rows="5" class="form-control" type="text" ng-model="vm.post.tomtat" id="tomtat" name="tomtat" placeholder="">
                 </textarea>
             </div>
             <div class="form-group">
                 <label for="noidung">Nội dung bài viết</label>
                 <div id="noidung" ckeditor="vm.options" ng-model="vm.post.noidung" ready="vm.onReady()"></div>
                 <!--<textarea  rows="20" class="form-control" type="text" ng-model="vm.post.noidung" id="noidung" name="noidung" placeholder=""></textarea>-->
             </div>
         </div>


         <div class="form-group">
             <button ng-click="vm.submit()" type="Submit" class="btn btn-primary">Post</button>
         </div>
     </form>
 </div>