<% layout('page') -%>
<script src="/client/user/user.module.js"></script>
<script src="/client/user/user.service.js"></script>
<script src="/client/user/info/user.info.controller.js"></script>

<div ng-module="userModule">

    <ui-view></ui-view>
</div>