<% layout('page') -%>
<script src="/client/user/user.module.js"></script>
<script src="/client/user/user.service.js"></script>
<script src="/client/user/login/user.login.controller.js"></script>


<div ng-module="userModule">
    <ng-include src="'/client/user/login/views/login.html'"> </ng-include>
</div>