<% layout('page') -%>
<script src="/client/user/user.module.js"></script>
<script src="/client/user/user.service.js"></script>
<script src="/client/user/register/user.register.controller.js"></script>

<div ng-module="userModule">
    <ng-include src="'/client/user/register/views/register.html'"> </ng-include>
</div>