<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body class="container-fluid">
<section>

    <div id = "theme-wrapper">
        <% include ../partials/navbar %>

        <!--body wrapper-->
        <div id = "page-wrapper" class="container-fluid">
            <div class="row">
                <!--menu content-->
                <div id = "nav-col">
                    <% include ../partials/rightmenu %>
                </div>
                <!--/menu content-->

                <!--content wrapper-->
                <div id = "content-wrapper" style="width: 70%; float: left; padding: 0 40px">
                    <%- body -%>
                </div>

                <!--/content wrapper-->
            </div>
        </div>
        <!--body wrapper-->
    </div>

</section>
</body>
</html>