<div ng-controller="userInfoController as vm" ng-init="vm.init()">
    <!--info.html-->
    <!--{{vm.user}}-->
    <div style="display: inline">
        <div style="width: 300px;height: 100%; background-color: lightgreen; float: left;padding: 20px; line-height: 3">
            <!--thong tin user-->
            <div>
                <img src="" style="width: 45px; height: 45px;" alt="">
            </div>
            <div ng-if="vm.checkSection()">Tên đăng nhập : {{vm.user.username}}</div>
            <div>Họ tên : {{vm.user.firstname}} {{vm.user.lastname }}</div>
            <div>email : {{vm.user.email}}</div>
            <div>Số điện thoại : {{vm.user.phonenumber}}</div>
            <div>Công ty : {{vm.user.company}}</div>
            <div>Giới thiệu : {{vm.user.introduce}}</div>
            <div>Địa chỉ : {{vm.user.address}}</div>
            <div>Website : {{vm.user.website}}</div>
            <div>Fanpage : {{vm.user.fanpage}}</div>
            <button ng-if="vm.checkSection()" class="btn btn-primary" ng-click="vm.logOut()">Đăng xuất</button>
        </div>
        <div style="padding: 20px 0px 20px 320px; position: relative;">
            <div>
                <h3 ng-if="vm.user.post.length > 0" >Bai da dang</h3>
                <h3 ng-if="vm.user.post.length <= 0">Chua co bai dang</h3>
                <div ng-if="vm.checkSection()" style="position: absolute; top: 0px; right: 0px;">
                    <a href="/post/add" class="btn btn-success">Dang bai</a>
                </div>
            </div>

            <!--cac bai da dang-->
            <div class="" ng-repeat="post in vm.user.post" style="margin-bottom: 30px">
                <div id="box1" style="display: inline; ">
                    <img src="https://gyazo.com/a77d726be7fbf8e569333a39e023cda3.jpg" alt="CSS"/>
                    <div style="display: inline-block;">
                        <h2><a href="post?id={{post.id}}">{{post.tenbaipost}}</a></h2>
                        <div>Đăng ngày: {{post.ngaydang}}</div>
                        <div>Đăng bởi: <a href="/user?id={{post.idnguoidang}}">{{post.tennguoidang}}</a></div>
                        <div style="font-weight: bold">
                            {{post.tomtat}}
                        </div>
                    </div>
                    <!--<p>Nội dung bài viết 1: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non dui sodales, faucibus libero ut, posuere felis. Donec imperdiet suscipit accumsan. Aenean consequat condimentum velit ut tempor. Nam porta massa in metus bibendum congue. Pellentesque ultrices vestibulum mattis. Aliquam egestas nunc at ullamcorper ultricies. Donec feugiat velit nulla, vel sodales est ullamcorper id</p>-->
                </div>
            </div>
        </div>
    </div>

</div>