<% layout('page') -%>
<script src="/client/search/search.module.js"></script>
<script src="/client/search/search.service.js"></script>
<script src="/client/search/search.controller.js"></script>

<div ng-module="searchModule">

    <ui-view></ui-view>
</div>