#menu {
 position: absolute;
 height: 100%;
 width: 215px;
 right: 50px;
}
#menu ul {
 list-style-type: none;
 padding: 0;
 margin: 0;
}
#menu li a {
 display: block;
 color: #f34ad1;
 padding: 0 2em;
 margin: 0.5em;
}
#menu li:hover {
 -webkit-filter: blur(1px);
 -moz-filter: blur(1px);
 -o-filter: blur(1px);
 -ms-filter: blur(1px);
 filter: url(#blur);
 filter: blur(1px);
 filter: progid: DXImageTransform.Microsoft.Blur(PixelRadius='1');
}
 #nav-col{
  width: 30%;
  float: right;
 }