<div ng-controller="RightMenuController as vm" ng-init="vm.init()">
     <!--<div class="modal-content">-->
         <!--//tìm kiếm theo keyword-->
         <div class="search-keyword">
             <div>
                 <!--//header-->
                 <h3 style="text-align: center;">Nhập từ khóa cần tìm kiếm:</h3>
             </div>
             <div>
                 <form style="margin: 40px;">
                     <input class="form-control form-group" type="text" placeholder="tên bài đăng, người đăng, nước, ngành, ...">
                     <div>
                         <button class="btn btn-success pull-right">Tìm kiếm</button>
                         <a href="" ng-click="vm.changeMode();">Tìm kiếm chi tiết hơn</a>
                         <!--<button class="btn btn-primary">Tìm kiếm chi tiết</button>-->
                     </div>
                 </form>
             </div>
         </div>
         <!--//tìm kiếm theo keyword-->
         <!--//tìm kiếm chi tiết-->
         <div class="search-detail" style="display: none">
             <div style="text-align: center;">
                 <!--//header-->
                 <h3>Tìm kiếm chi tiết</h3>
                 <p>Tìm kiếm theo các ... mà bạn quan tâm.</p>
             </div>
             <form style="margin: 40px">
                 <div class="form-group">
                     <label for="school">Tên trường:</label>
                     <input type="text" id="school" class="form-control" name="school" value="" placeholder="Harvard University">
                 </div>
                 <div class="form-group">
                     <label for="country">Quốc Gia:</label>
                     <input type="text" id="country" class="form-control" name="country" value="" placeholder="ANH">
                 </div>
                 <div class="form-group">
                     <label for="money">Chi Phí:</label>
                     <input type="text" id="money" class="form-control" name="money" value="" placeholder="1000$">
                 </div>
                 <div class="form-group">
                     <label for="free">Học bổng:</label>
                     <!--//select-->
                     <input type="text" id="free" class="form-control" name="free" value="" placeholder="Toàn phần, một phần, tự túc?">
                 </div>
                 <div class="form-group">
                     <label for="level">Cấp học:</label>
                     <!--//select-->
                     <input type="text" id="level" class="form-control" name="level" value="" placeholder="Đại học">
                 </div>
                 <div class="form-group">
                     <label for="major">Ngành học:</label>
                     <!--//select-->
                     <input type="text" id="major" class="form-control" name="major" value="" placeholder="Công nghệ thông tin">
                 </div>
                 <div class="form-group">
                     <label for="time">Thời gian: </label>
                     <input type="text" id="time" class="form-control" name="time" value="" placeholder="24 tháng">
                 </div>
                 <div>
                     <button class="btn btn-success pull-right">Tìm kiếm chi tiết</button>
                     <a href="" ng-click="vm.changeMode();">Tìm kiếm theo từ khóa</a>
                     <!--<button class="btn btn-primary">Tìm kiếm chi tiết</button>-->
                 </div>
             </form>
         </div>
         <!--//tìm kiếm chi tiết-->


 </div>