<div ng-controller="SearchController as vm" ng-init="vm.init()">
    <h1 style="margin-bottom: 50px">Kết quả tìm kiếm</h1>
    <div ng-repeat="post in vm.results" style="margin-bottom: 30px">
        <div id="box1" style="display: inline; ">
            <img src="https://gyazo.com/a77d726be7fbf8e569333a39e023cda3.jpg" alt="CSS"/>
            <div style="display: inline-block;">
                <h2><a href="post?id={{post.id}}">{{post.tenbaipost}}</a></h2>
                <div>Đăng ngày: {{post.ngaydang}}</div>
                <div>Đăng bởi: <a href="/user?id={{post.idnguoidang}}">{{post.tennguoidang}}</a></div>
                <div style="font-weight: bold">
                    {{post.tomtat}}
                </div>
            </div>
            <!--<p>Nội dung bài viết 1: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non dui sodales, faucibus libero ut, posuere felis. Donec imperdiet suscipit accumsan. Aenean consequat condimentum velit ut tempor. Nam porta massa in metus bibendum congue. Pellentesque ultrices vestibulum mattis. Aliquam egestas nunc at ullamcorper ultricies. Donec feugiat velit nulla, vel sodales est ullamcorper id</p>-->
        </div>
    </div>
</div>

