<div ng-controller="NavbarController as vm" ng-init="vm.init()">
    <img src="https://gyazo.com/42023052f52b19c61f7b9e6459afff05.jpg" width=100% height="265">
    <nav class="navbar" role="navigation">
          <div aria-expanded="false" style="height: 10px;">
              <ul class="nav nav-tabs">
                  <li class="active"><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Quốc gia<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/search?nuoc=anh">Anh Quốc</a></li>
                        <li><a href="/search?nuoc=nhat">Nhật Bản</a></li>
                        <li><a href="/search?nuoc=my">Hoa Kỳ</a></li>
                    </ul> 
                  </li>             
                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Học bổng<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/search?hocbong=toanphan">Học bổng Toàn phần</a></li>
                        <li><a href="/search?hocbong=motphan">Học bổng Một phần</a></li>
                        <li><a href="/search?hocbong=tutuc">Tự chi trả chi phí</a></li>
                    </ul> 
                  </li>     
                   <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Chuyên ngành<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/search?nganh=it">Công nghệ thông tin</a></li>
                        <li><a href="/search?nganh=kinhte">Kinh tế</a></li>
                        <li><a href="/search?nganh=supham">Sư phạm</a></li>
                        <li><a href="/search?nganh=ykhoa">Y khoa</a></li>
                        <li><a href="/search?nganh=dien">Điện</a></li>
                        <li><a href="/search?nganh=xaydung">Xây dựng</a></li>
                    </ul> 
                  </li>    
                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Cấp học<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/search?cap=caodang">Cao đẳng</a></li>
                        <li><a href="/search?cap=daihoc">Đại học</a></li>
                        <li><a href="/search?cap=caohoc">Cao học</a></li>
                    </ul> 
                  </li>           
                  <ul ng-if = "!vm.checkUser()" class="nav navbar-nav navbar-right" style="margin: 0;">
                    <li><a href="/user/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="/user/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                  </ul>
                  <ul ng-if = "vm.checkUser()" class="nav navbar-nav navbar-right" style="margin: 0;">
                      <li><a href="/user?id={{vm.cookieUserID}}"><span class="glyphicon glyphicon-user"></span> {{vm.username}}</a></li>
                  </ul>
              </ul>
          </div>
    </nav> 
</div>
