<meta charset="UTF-8">
<title> Du hoc</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--Common CSS-->
<link rel="stylesheet" type="text/css" href="/assets/library/font-awesome/css/font-awesome.min.css">
<!--Library JS-->
<script src="/assets/library/jquery/jquery-1.11.2.min.js"></script>

<script src="/assets/library/node_modules/angular/angular.js"></script>
<script src="/assets/library/node_modules/angular-sanitize/angular-sanitize.js"></script>
<script src="/assets/library/ng-module/ng-module.js"></script>
<script src="/assets/library/node_modules/angular-resource/angular-resource.js"></script>
<script src="/assets/library/node_modules/angular-ui-router/release/angular-ui-router.js"></script>

<!--//CKEditor-->
<script src="../../../assets/library/bower_components/angular-ckeditor/angular-ckeditor.min.js"></script>
<script src="../../../assets/library/bower_components/ckeditor/ckeditor.js"></script>
<!--//CKEditor-->

<!--Bootstrap-->

<link rel="stylesheet" href="/assets/library/node_modules/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/library/node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
<!-- <link rel="stylesheet" href="/assets/CSS/form.css"> -->
<script src="/assets/library/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<!--/Bootstrap-->

<!--&lt;!&ndash;bootstrap tag-input&ndash;&gt;-->
<!--<link rel="stylesheet" href="/assets/library/bootstrap-tagsinput/dist/bootstrap-tagsinput.css">-->
<!--<script src="/assets/library/bootstrap-tagsinput/dist/bootstrap-tagsinput-angular.min.js"></script>-->
<!--<script src="/assets/library/bootstrap-tagsinput/dist/bootstrap-tagsinput.js"></script>-->
<!--&lt;!&ndash;bootstrap tag-input&ndash;&gt;-->

<!--core service-->

<script src="/client/_core/module.js"></script>
<script src="/client/_core/service.js"></script>
<!--<script src="/client/_core/queryData.js"></script>-->

<!--/core service-->

<!--ng-section-->
<script src="/assets/library/node_modules/angular-cookies/angular-cookies.min.js"></script>
<script src="/assets/library/bower_components/angular-cookie/angular-cookie.min.js"></script>
<!--ng-section-->
<!--config-->
<script src = "/client/_config/index.js"></script>
<!--/config-->
