<script src="/client/_rightmenu/_rightmenu.module.js"></script>
<script src="/client/_rightmenu/rightmenu.controller.js"></script>
<link rel="stylesheet" href="/assets/CSS/menu.css">

<div ng-module="rightmenuModule">
    <ui-view></ui-view>
</div>