<div ng-controller="userRegisterController as vm" ng-init="vm.init()">
  <div style="width: 100%; margin: auto;">
    <h1 style="text-align: center">Register</h1>
    <form>
      <div class="row">
        <div class="form-group col-md-6">
          <label for="last-name">Họ</label>
          <input ng-model="vm.user.lastname" type="text" class="form-control" id="last-name" required>
        </div>
        <div class="form-group col-md-6">
          <label for="first-name">Tên</label>
          <input ng-model="vm.user.firstname" type="text" class="form-control" id="first-name" required>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label for="company">Công ty</label>
          <input ng-model="vm.user.company" type="text" class="form-control" id="company" required>
        </div>
        <div class="form-group col-md-6">
          <label for="email">Địa chỉ email</label>
          <input ng-model="vm.user.email" type="email" class="form-control" id="email" required>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label for="user-name">Tên đăng nhập</label>
          <input ng-model="vm.user.username" type="text" class="form-control" id="user-name" required>
        </div>
        <div class="form-group col-md-6">
          <label for="password">Mật khẩu</label>
          <input ng-model="vm.user.password" type="password" class="form-control" id="password" required>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label for="phone-number">Số điện thoại</label>
          <input ng-model="vm.user.phonenumber" type="number" class="form-control" id="phone-number" required>
        </div>
        <div class="form-group col-md-6">
          <label for="address">Địa chỉ</label>
          <input ng-model="vm.user.address" type="text" class="form-control" id="address" required>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label for="website">Website</label>
          <input ng-model="vm.user.website" type="text" class="form-control" id="website">
        </div>
        <div class="form-group col-md-6">
          <label for="fanpage">Link Fanpage</label>
          <input ng-model="vm.user.fanpage" type="text" class="form-control" id="fanpage">
        </div>
      </div>

      <div class="form-group">
        <label for="introduce">Vài lời giới thiệu</label>
        <textarea ng-model="vm.user.introduce" type="text" class="form-control" id="introduce"></textarea>
      </div>
      <div  style="text-align: center">
        <button class="btn btn-success" ng-click="vm.register()">Đăng Ký</button>
      </div>
    </form>
  </div>


</div>